<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="d-flex align-items-center text-muted">
      <span>© 2022 Powered by </span>
      &nbsp;
      <a
        href="http://matiasgaleano.com.ar"
        target="_blank"
        rel="noopener noreferrer"
        >Matias Galeano</a>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#"><i class="fa-brands fa-whatsapp"></i></a>
      </li>
    </ul>
  </footer>
</div>
